@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  background: #0b0b0b;
  font-family: 'Baloo 2', cursive;
}

*::selection {
  background: #7a00cc;
  color: #fff;
}
html::-webkit-scrollbar {
  width: 0.8rem;
}
html::-webkit-scrollbar-track {
  background: #1a1a1a;
}
html::-webkit-scrollbar-thumb {
  background: #7a00cc;
}

/* NAVBAR */
header {
  background-color: #0d0d0d;
  box-shadow: 0 1px 4px rgba(150, 0, 255, 0.3);
}
header .logo {
  color: #e2d0ff;
}
header .logo:hover {
  color: #b96aff;
}
header .navbar ul li a {
  color: #c7b6ff;
}
header .navbar ul li a.active,
header .navbar ul li a:hover {
  color: #c883ff;
  border-bottom: 0.2rem solid #7a00cc;
}

/* HAMBURGER */
#menu {
  color: #c883ff;
}
header .navbar {
  background-color: #1c0b2e;
}
header .navbar ul li a {
  color: #e9d6ff;
}
header .navbar ul li a.active,
header .navbar ul li a:hover {
  border-bottom: 0.5rem solid #b96aff;
}

/* 404 SECTION */
.page_404 {
  background: #131313;
}
.msg h3 {
  color: #e7d3ff;
}
.msg p {
  color: #b98fff;
}
.wrapper h1 {
  color: #fff;
}

/* BOTÃO VOLTAR */
.backbtn .btn {
  background: #7a00cc;
  box-shadow: 0px 5px 15px rgba(122, 0, 204, 0.6);
}
.backbtn .btn:hover {
  background: #5900a6;
}
.backbtn .btn span {
  font-family: 'Baloo 2', cursive;
}

/* FOOTER */
.footer {
  background: #0a0a0a;
}
.footer .box-container .box h3 {
  color: #e9d6ff;
}
.footer .box-container .box p,
.footer .box-container .box a {
  color: #d5bfff;
}
.footer .box-container .box p i {
  color: #c883ff;
}
.footer .box-container .box a:hover {
  color: #c883ff;
}
.footer .box-container .box .share a {
  background: #2a003f;
  color: #e2d0ff;
  box-shadow: 0px 4px 8px rgba(122, 0, 204, 0.3);
}
.footer .box-container .box .share a:hover {
  background: transparent;
  color: #b96aff;
  border: 0.1rem solid #7a00cc;
}
.footer .credit {
  color: #b8a3e6;
}
.footer .credit a {
  color: #d88dff;
}
.footer .fa {
  color: #ff61e6;
}

/* SCROLL TOP */
#scroll-top {
  background: #c883ff;
  color: #100015;
}

/* FONTE RESPONSIVA E PADRÃO */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}

